<h1>My tasks</h1>


<% @tasks.each do |task| %>
<div>
  <input type="checkbox" <%= 'checked' if task.completed %>>
  <label for="task"><%= link_to(task.title, task_path(task)) %></li></label>
</div>
<% end %>
<br>
<%= link_to 'Add a new task', new_path %>
